*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto','sans-serif';
    
}
body{
    background: white;  /* fallback for old browsers */
    
}



h2{
    color: rgb(255, 249, 249);
    display: inline-block;
  
}
header ul{
   
    width:100%;
    height: 75px ;
    background-color:#000000;
    z-index: 1;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding:50px  60 px 0 60px ;
    list-style-type: none;

} 
ul li{
    margin: 20px;
}



ul a{
    text-decoration: none;
}

.container{
display: flex;
justify-content: center;
flex-wrap:inherit;
margin-top: 50px;
padding-bottom: 100px;

}

.image{
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
}
img{width: 10rem;

}
li a{
    color: aliceblue;
    
}

form h3{
    font-size: x-large;
    margin-bottom: 20px;
    color: black;
}
  
   
   
    
    

form label{
    color: black;
}
form p{
    color: black;
}
form a{
    color:blue;
}


/*------cart items --------*/
.cart-page{
    margin:60px auto;
}
table{
    Width:100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 10px;
    color: white;
    background:black ;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #000000;
    font-size:12px ;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 5px rgb(177, 17, 17);
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*------Product list  --------*/
.button{
margin-top: 80px;
margin-bottom: 20px;
}

/* footer */
footer{
background-color: #111;
height:auto;
width:100vw; 
color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
font-size: 1.8rem;
font-weight: 400;
font-weight: 400;
text-transform: capitalize;
line-height: 3rem;
    
}
.footer-content p{
    max-width: 500px;
     margin: 10px auto;
     line-height: 28px;
     font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin:0 10px ;
}
.socials a{
text-decoration: none;
color: white;

}
.footer-bottom{
    background: black;
    width: 100vw;
    padding :20px 0;
    text-align: center;
}
.footer-bottom p{
font-size: 14px;
word-spacing: 2px;
text-transform: capitalize;

}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight:200 ;
}